[submodule "fortune"]
	path = vim/pack/modules/start/fortune
	url = https://github.com/araile/vim-fortune
[submodule "go"]
	path = vim/pack/modules/start/go
	url = https://github.com/fatih/vim-go.git
