[submodule "modules/tumblr"]
	path = modules/tumblr
	url = git://github.com/inky/tumblr.git
[submodule "modules/vim-pathogen"]
	path = modules/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
