[user]
	name = <FULL_NAME>
	email = <EMAIL>
[core]
	excludesfile = /Users/<USER>/.gitignore
	filemode = true
	quotepath = false
	fsyncobjectfiles = true
[color]
	ui = auto
	diff = auto
	branch = auto
	status = auto
[diff]
	renames = copies
[github]
	user = <USER>
	token = <TOKEN>
[alias]
	cheat = !cheat git | less
	co = checkout
	log1 = log --oneline --decorate
	low = !open 'http://www.youtube.com/watch?v=DQFCugSRjQQ'
	st = status -s
	whoops = reset --soft HEAD^
